@model AllStandingsViewModel
@{
    ViewData["Title"] = "Puan Durumu";
    var sequence = 1;
}

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Standing")" class="btn btn-primary">Puan Tablosuna Takım Ekle</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Takım</th>
            <th scope="col">Puan</th>
            <th scope="col">Galibiyet</th>
            <th scope="col">Beraberlik</th>
            <th scope="col">Mağlubiyet</th>
            <th scope="col">Attığı Gol</th>
            <th scope="col">Yediği Gol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.teams)
        {
            var standingDisplay = Model.standings.FirstOrDefault(s => s.TeamId == team.Id);
            if (standingDisplay != null)
            {
                <tr>
                    <th scope="row">@sequence</th>
                    <td>@team.Name</td>
                    <td>@standingDisplay.Score</td>
                    <td>@standingDisplay.Win</td>
                    <td>@standingDisplay.Draw</td>
                    <td>@standingDisplay.Defeat</td>
                    <td>@standingDisplay.GoalsFor</td>
                    <td>@standingDisplay.GoalsAgainst</td>
                </tr>
            }
            sequence++;
        }
    </tbody>
</table>


