@model AllMatchesViewModel
@{
    ViewData["Title"] = "Oyuncular";
    var sequence = 1;
    var homeTeams = Model.homeTeams;
    var awayTeams = Model.awayTeams;
    var stadiums = Model.stadiums;
}

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Match")" class="btn btn-primary">Maç Ekle</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tarih</th>
            <th scope="col">Ev Sahibi</th>
            <th scope="col">Sonuç</th>
            <th scope="col">Deplasman</th>
            <th scope="col">Stadyum</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.matches)
        {
            <tr>
                <th scope="row">@sequence</th>
                <td>@match.Date</td>
                <td>@homeTeams[sequence-1].Name</td>
                <td>@match.Result</td>
                <td>@awayTeams[sequence-1].Name</td>
                <td>@stadiums[sequence-1].Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Match", new { id = match.Id })" class="btn btn-dark rounded-circle btn-sm">
                        &#9998;
                    </a>
                    <a href="@Url.Action("Delete", "Match", new { id = match.Id })" class="btn btn-danger rounded-circle btn-sm">
                        &#10060;
                    </a>
                </td>
            </tr>

            sequence++;
        }
    </tbody>
</table>
